<!-- Footer -->
<section id="footer">
	<ul class="icons">
		<li><a href="https://twitter.com/acmatucr" class="fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://facebook.com/groups/acm.at.ucr" class="fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="mailto:contact@acmucr.org" class="fa-envelope"><span class="label">Email</span></a></li>
	</ul>
	<p class="copyright">&copy; 2016 – ACM Student Chapter at UCR</p>
</section>